<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
</head>

<body onload="drawGraph();">
    <div id="wrapper">
        {{> nav}}
        {{> body}}
        {{> dashboardProper}}
        </div>
        </body>
    </div>
    <!-- /#wrapper -->

{{> footer}}

</body>
</html>
