<div class="row">
    <div class="col-xs-12">
        <h2>Donations List</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Donor</th>
                    <th>Check or Transaction ID</th>
                    <th>Tags
                </tr>
            </th>
            <tbody>
            <!-- Here's where we will iterate based on results -->

        </div>

</div>