<div class="row">
    <div class="col-xs-12">
        <h2>Donors List</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
            <thd>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Tags</th>
                    <th>Total Amount Donated</th>

                </tr>
            </thd>
            <tbody>
            </tbody>
            </table>
            <!-- Here's where we will iterate based on results -->

        </div>

    </div>
</div>